.section {
    padding: 16px;
    background: #fafafa;
    border: 1px solid #e5e7eb;
    border-radius: 8px;
    margin-bottom: var(--input-gap);

}

.title {
    padding-bottom: 16px;
    margin: 0;

}