@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

:root {
    /* Font sizes */
    --font-xs: 0.5rem;
    /* 8px */
    --font-sm: 0.625rem;
    /* 10px */
    --font-md: 0.75rem;
    /* 12px */
    --font-lg: 0.875rem;
    /* 14px */
    --font-xl: 1.125rem;
    /* 18px */
    --font-xxl: 1.5rem;
    /* 24px */

    /* Line heights */
    --lh-tight: 1.2;
    --lh-normal: 1.35;
    --lh-relaxed: 1.4;

    --input-gap: 1rem;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}


html,
body,
#root {
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: var(--font-sm);
    line-height: var(--lh-relaxed);
}

button {
    font-family: inherit;
    font-size: var(--font-md);
    line-height: var(--lh-normal);

    padding: 0.5rem 1rem;
    border-radius: 6px;
    border: 1px solid #ccc;

    background-color: #f5f5f5;
    cursor: pointer;
}

button:hover {
    background-color: #eee;
}

button:active {
    background-color: #e5e5e5;
}